@font-face {
    font-family: Unbounded;
    src: url("../Fontes/Unbounded-Bold.ttf ")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap ;

}

@font-face {
    font-family: Unbounded;
    src: url("../Fontes/Poppins-Regular.ttf ")
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap ;

}

*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color:#0E1014 ;
    color: #FFFFFF;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
}
header img{
    display: block;
    margin: 75px 0 0 360px;
}

h1{
    font-size: 64px;
    text-align: center;
    margin-top: 60px;

}

p{
    font-family: "Poppins" sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 24px;
}


h1 span{
    color: #9747FF;

}

a{
   font-family:"Poppins", sans-serif; 
   font-size: 24px; 
   color: #FFFFFF;
   text-decoration: none;
   background-color:#9747FF; 
   width: 340px;
   height: 66px;
   display: block;
   text-align: center;
   line-height: 66px;
   border-radius: 36px;
   margin:40px auto 
   
}

section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;

}



   